body {
    background: black;
    color: white;
}
#content {
    display: flex;
    gap: 200px;
    justify-content: center;
    height: 100vh;
    
}

.dropdown {
    text-align: center;
    width: 200px;
    height: auto;
}

.dropdown > button {
    border: none;
}

.menu-items {
    margin-top: 5px;
    position: relative;
}

.hidden-menu-item {
    display: none;
}

.visible-menu-item {
    display: block;
}

