@font-face {
    font-family: Cinzel;
    src: url('/src/assets/fonts/Cinzel/Cinzel-VariableFont_wght.ttf');
  }

body {
    background: black;
    color: white;
}
#content {
    display: flex;
    gap: 5px;
    justify-content: center;
    height: 100vh;
    background: rgb(68, 68, 68);
    
}

.dropdown {
    /* text-align: center;
    width: 200px;
    height: auto; */
}

.dropdown > button {
    border: none;
}

.menu-items {
    
}

.hidden-menu-items {
    display: none;
}

.visible-menu-items {
    display: block;
}
/* hide the menu and not the invidual items */

.rs3-dropdown-theme {
    height: 150px;
}

.rs3-dropdown-theme button {
    text-align: center;
    font-family: Cinzel;
    height: 70px;
    font-size: 24px;
    padding: 20px 10px;
    border: 1px solid #e1bb34;
    background: darkblue;
    color: #e1bb34;
}

.rs3-dropdown-theme button:hover {
    background: black;
    color: white;
}

.rs3-dropdown-theme > .menu-items {
    text-align: center;
    background: darkblue;
    position: relative;
    border-right: 1px solid #e1bb34;
    border-left: 1px solid #e1bb34;
    
}

.rs3-dropdown-theme  .menu-item {
    border-bottom: 1px solid #e1bb34;
}

.rs3-dropdown-theme  a {
    text-decoration: none;
    color: white;
}

.rs3-dropdown-theme a:hover {
    color: #e1bb34;
}

